.about,
.portfolio
{
    background-image: url('./../images/light_dot.jpg');
}
:root{
--primaryColor:#e83e8c;

}
h4{
    color:var(--primaryColor);
}


.portfolio .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
color:var( --primaryColor);
}
.portfolio .nav-link{
    color:black;
}
.portfolio .nav-tabs .nav-link {
    border:none;
}
.portfolio .nav-tabs {
    border-bottom: none;
}

 .navbar .nav-link{
    color:black;
}



.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color:var(--primaryColor);
}